pipeline/JDEE1_Generic_Pipeline_New.json
{
	"name": "JDEE1_Generic_Pipeline_New",
	"properties": {
		"activities": [
			{
				"name": "Copy To Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup WaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set LastUpdate Column Var",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.srcSchemaName}.@{pipeline().parameters.srcTableName} WHERE @{variables('lastModifiedDateColumn')}>'@{replace(string(activity('Lookup WaterMark').output.firstRow.lastLoad),'\"','')}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "TRUNCATE TABLE @{pipeline().parameters.stgSchemaName}.@{pipeline().parameters.stgTableName}",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "IMOPV",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMOPV",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMACQ",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMACQ",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMMLQ",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMMLQ",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMLTPU",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMLTPU",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMMPSP",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMMPSP",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMMRPP",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMMRPP",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMITC",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMITC",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMORDW",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMORDW",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMMTF1",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMMTF1",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMMTF2",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMMTF2",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMMTF3",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMMTF3",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMMTF4",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMMTF4",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMMTF5",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMMTF5",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMEXPD",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMEXPD",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMDEFD",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMDEFD",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMSFLT",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMSFLT",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMMAKE",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMMAKE",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMCOBY",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMCOBY",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMLLX",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMLLX",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMCMGL",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMCMGL",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMCOMH",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMCOMH",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMURCD",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMURCD",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMURDT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								},
								"sink": {
									"name": "IMURDT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "IMURAT",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMURAT",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMURAB",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMURAB",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMURRF",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMURRF",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUSER",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUSER",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMPID",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMPID",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMJOBN",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMJOBN",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUPMJ",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								},
								"sink": {
									"name": "IMUPMJ",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "IMTDAY",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMTDAY",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMUPCN",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUPCN",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSCC0",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSCC0",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUMUP",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUMUP",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUMDF",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUMDF",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUMS0",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUMS0",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUMS1",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUMS1",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUMS2",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUMS2",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUMS3",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUMS3",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUMS4",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUMS4",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUMS5",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUMS5",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUMS6",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUMS6",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUMS7",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUMS7",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUMS8",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUMS8",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMPOC",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMPOC",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMAVRT",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMAVRT",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMEQTY",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMEQTY",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMWTRQ",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMWTRQ",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMTMPL",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMTMPL",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSEG1",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSEG1",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSEG2",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSEG2",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSEG3",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSEG3",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSEG4",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSEG4",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSEG5",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSEG5",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSEG6",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSEG6",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSEG7",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSEG7",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSEG8",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSEG8",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSEG9",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSEG9",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSEG0",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSEG0",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMMIC",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMMIC",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMAING",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMAING",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMBBDD",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMBBDD",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMCMDM",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMCMDM",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMLECM",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMLECM",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMLEDD",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMLEDD",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMPEFD",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMPEFD",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMSBDD",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMSBDD",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMU1DD",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMU1DD",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMU2DD",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMU2DD",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMU3DD",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMU3DD",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMU4DD",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMU4DD",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMU5DD",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMU5DD",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMDLTL",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMDLTL",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMDPPO",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMDPPO",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMDUAL",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMDUAL",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMXDCK",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMXDCK",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMLAF",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMLAF",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMLTFM",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMLTFM",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMRWLA",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMRWLA",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMLNPA",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMLNPA",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMLOTC",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMLOTC",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMAPSC",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMAPSC",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMAUOM",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMAUOM",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMCONB",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMCONB",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMGCMP",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMGCMP",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMPRI1",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMPRI1",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMPRI2",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMPRI2",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMASHL",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMASHL",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMVMINV",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMVMINV",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMCMETH",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMCMETH",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMEXPI",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMEXPI",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMOPTH",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMOPTH",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMCUTH",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMCUTH",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMUMTH",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUMTH",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMLMFG",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMLMFG",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMLINE",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMLINE",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMDFTPCT",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMDFTPCT",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMKBIT",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMKBIT",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMDFENDITM",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMDFENDITM",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMKANEXLL",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMKANEXLL",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSCPSELL",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSCPSELL",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMMOPTH",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMMOPTH",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMMCUTH",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMMCUTH",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMCUMTH",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMCUMTH",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMATPRN",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMATPRN",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMATPCA",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMATPCA",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMATPAC",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMATPAC",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMCOORE",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMCOORE",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMVCPFC",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMVCPFC",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMPNYN",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMPNYN",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMITM",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMITM",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMLITM",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMLITM",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMAITM",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMAITM",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMDSC1",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMDSC1",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMDSC2",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMDSC2",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSRTX",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSRTX",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMALN",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMALN",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSRP1",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSRP1",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSRP2",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSRP2",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSRP3",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSRP3",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSRP4",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSRP4",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSRP5",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSRP5",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSRP6",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSRP6",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSRP7",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSRP7",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSRP8",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSRP8",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSRP9",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSRP9",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSRP0",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSRP0",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMPRP1",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMPRP1",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMPRP2",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMPRP2",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMPRP3",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMPRP3",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMPRP4",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMPRP4",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMPRP5",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMPRP5",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMPRP6",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMPRP6",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMPRP7",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMPRP7",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMPRP8",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMPRP8",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMPRP9",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMPRP9",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMPRP0",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMPRP0",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMCDCD",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMCDCD",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMPDGR",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMPDGR",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMDSGP",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMDSGP",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMPRGR",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMPRGR",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMRPRC",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMRPRC",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMORPR",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMORPR",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMBUYR",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMBUYR",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMDRAW",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMDRAW",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMRVNO",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMRVNO",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMDSZE",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMDSZE",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMVCUD",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMVCUD",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMCARS",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMCARS",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMCARP",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMCARP",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMSHCN",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSHCN",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSHCM",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSHCM",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUOM1",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUOM1",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUOM2",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUOM2",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUOM3",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUOM3",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUOM4",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUOM4",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUOM6",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUOM6",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUOM8",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUOM8",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUOM9",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUOM9",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUWUM",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUWUM",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUVM1",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUVM1",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSUTM",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSUTM",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMUMVW",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMUMVW",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMCYCL",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMCYCL",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMGLPT",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMGLPT",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMPLEV",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMPLEV",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMPPLV",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMPPLV",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMCLEV",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMCLEV",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMPRPO",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMPRPO",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMCKAV",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMCKAV",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMBPFG",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMBPFG",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSRCE",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSRCE",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMOT1Y",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMOT1Y",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMOT2Y",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMOT2Y",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSTDP",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMSTDP",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMFRMP",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMFRMP",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMTHRP",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMTHRP",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMSTDG",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSTDG",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMFRGD",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMFRGD",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMTHGD",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMTHGD",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMCOTY",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMCOTY",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSTKT",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSTKT",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMLNTY",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMLNTY",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMCONT",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMCONT",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMBACK",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMBACK",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMIFLA",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMIFLA",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMTFLA",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMTFLA",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMINMG",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMINMG",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMABCS",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMABCS",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMABCM",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMABCM",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMABCI",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMABCI",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMOVR",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMOVR",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMWARR",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMWARR",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMCMCG",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMCMCG",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSRNR",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSRNR",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMPMTH",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMPMTH",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMFIFO",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMFIFO",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMLOTS",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMLOTS",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSLD",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMSLD",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMANPL",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMANPL",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMMPST",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMMPST",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMPCTM",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMPCTM",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMMMPC",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMMMPC",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMPTSC",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMPTSC",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMSNS",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMSNS",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "IMLTLV",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMLTLV",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMLTMF",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMLTMF",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMLTCM",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "IMLTCM",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IMOPC",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "IMOPC",
									"type": "String",
									"physicalType": "nchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Watermark",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureTable1",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@pipeline().parameters.stgTableName",
								"type": "Expression"
							},
							"SchemaName": {
								"value": "@pipeline().parameters.stgSchemaName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup WaterMark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[getWaterMarkByDouble]",
						"storedProcedureParameters": {
							"schemaName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.baseSchemaName",
									"type": "Expression"
								}
							},
							"tableName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.baseTableName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Watermark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy All Keys From Src",
				"description": "WorkAround for onpremise data, because we cannot use self-hosted integration runtime in dataflows",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set PrimaryKey Var",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select @{replace(replace(replace(replace(string(variables('srcPrimaryKey')),'\"',''),'[',''),']',''),'\\','')} from @{pipeline().parameters.srcSchemaName}.@{pipeline().parameters.srcTableName} ",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "AzureDataLakeStorage2",
							"type": "LinkedServiceReference"
						},
						"path": "staging"
					}
				},
				"inputs": [
					{
						"referenceName": "Watermark",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "JsonDeletedKeys",
						"type": "DatasetReference",
						"parameters": {
							"container": "staging",
							"folder": "JDEE1_DeletedKeys",
							"file": {
								"value": "@{pipeline().parameters.srcTableName}.json",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Updating Base Table",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy To Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy All Keys From Src",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "JDEE1_Generic_DataFlow_Both",
						"type": "DataFlowReference",
						"parameters": {
							"primaryKeys": {
								"value": "@variables('srcPrimaryKey')",
								"type": "Expression"
							},
							"srcTableName": {
								"value": "'@{pipeline().parameters.srcTableName}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"StageTable": {
								"TableName": {
									"value": "@pipeline().parameters.stgTableName",
									"type": "Expression"
								},
								"SchemaName": {
									"value": "@pipeline().parameters.stgSchemaName",
									"type": "Expression"
								}
							},
							"ExistingBaseTable": {
								"TableName": {
									"value": "@pipeline().parameters.baseTableName",
									"type": "Expression"
								},
								"SchemaName": {
									"value": "@pipeline().parameters.baseSchemaName",
									"type": "Expression"
								}
							},
							"BaseTable": {
								"TableName": {
									"value": "@pipeline().parameters.baseTableName",
									"type": "Expression"
								},
								"SchemaName": {
									"value": "@pipeline().parameters.baseSchemaName",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine",
					"continuationSettings": {
						"customizedCheckpointKey": "ca326670-0934-4ddf-8250-2996c27a7995"
					}
				}
			},
			{
				"name": "Update WaterMark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Updating Base Table",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup Max LastUpdate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateWatermarkByDouble]",
					"storedProcedureParameters": {
						"lastLoad": {
							"value": {
								"value": "@activity('Lookup Max LastUpdate').output.firstRow.LASTLOAD\n",
								"type": "Expression"
							},
							"type": "Double"
						},
						"schemaName": {
							"value": {
								"value": "@pipeline().parameters.baseSchemaName",
								"type": "Expression"
							},
							"type": "String"
						},
						"tableName": {
							"value": {
								"value": "@pipeline().parameters.baseTableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "JeffreySqlDb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup PrimaryKeys",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_getPrimaryKeys]",
						"storedProcedureParameters": {
							"schema_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.baseSchemaName",
									"type": "Expression"
								}
							},
							"table_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.baseTableName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Watermark",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set PrimaryKey Var",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup PrimaryKeys",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "srcPrimaryKey",
					"value": {
						"value": "@split(activity('Lookup PrimaryKeys').output.firstRow.primaryKeys,',')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup LastUpdate Column",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_getLastUpdateColumn]",
						"storedProcedureParameters": {
							"schema_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.baseSchemaName",
									"type": "Expression"
								}
							},
							"table_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.baseTableName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Watermark",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set LastUpdate Column Var",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup LastUpdate Column",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "lastModifiedDateColumn",
					"value": {
						"value": "@activity('Lookup LastUpdate Column').output.firstRow.LastUpdate_column",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup Max LastUpdate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy To Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select MAX(@{variables('lastModifiedDateColumn')}) as lastLoad from @{pipeline().parameters.stgSchemaName}.@{pipeline().parameters.stgTableName}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Watermark",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"srcSchemaName": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"stgSchemaName": {
				"type": "string",
				"defaultValue": "STG_JDEE1"
			},
			"srcTableName": {
				"type": "string",
				"defaultValue": "F4101"
			},
			"stgTableName": {
				"type": "string",
				"defaultValue": "F4101"
			},
			"baseSchemaName": {
				"type": "string",
				"defaultValue": "SRC_JDEE1"
			},
			"baseTableName": {
				"type": "string",
				"defaultValue": "F4101"
			}
		},
		"variables": {
			"srcPrimaryKey": {
				"type": "Array",
				"defaultValue": [
					"IMITM"
				]
			},
			"lastModifiedDateColumn": {
				"type": "String",
				"defaultValue": "IMURAT"
			}
		},
		"folder": {
			"name": "JD Edwards/Extraction"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-30T19:33:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}