pipeline/JDEE1_master.json
{
	"name": "JDEE1_master",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get TableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get TableList').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute JDEE1 Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "JDEE1_Generic_Pipeline_New",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"srcSchemaName": {
										"value": "@item().srcSchemaName",
										"type": "Expression"
									},
									"stgSchemaName": {
										"value": "@item().stgSchemaName",
										"type": "Expression"
									},
									"srcTableName": {
										"value": "@item().srcTableName",
										"type": "Expression"
									},
									"stgTableName": {
										"value": "@item().stgTableName",
										"type": "Expression"
									},
									"baseSchemaName": {
										"value": "@item().baseSchemaName",
										"type": "Expression"
									},
									"baseTableName": {
										"value": "@item().baseTableName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Get TableList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select*from xellia_poc.watermark where isEnabled=1 AND srcSystem='JDEE1'  AND destinationDB = 'DEV_ADF_RL_DB'\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Watermark",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "JD Edwards/Extraction"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-30T20:35:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}