pipeline/Send notification to a channel in Microsoft Teams1.json
{
	"name": "Send notification to a channel in Microsoft Teams1",
	"properties": {
		"description": "Use this pipeline template to send notification on a teams channel. \n\nhttps://adf.azure.com/en-us/monitoring/pipelineruns/f90465ff-b8ea-4f0f-9110-178164bc8ee4?factory=/subscriptions/7b68d2b5-dfbe-46e1-938f-98ed143b7953/resourceGroups/demo101-rg/providers/Microsoft.DataFactory/factories/demofactory101",
		"activities": [
			{
				"name": "Set Facts",
				"description": "Details on Fact schema for teams messages: https://adaptivecards.io/explorer/Fact.html",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "messageCardString",
					"value": {
						"value": "{\n    \"@type\": \"MessageCard\",\n    \"@context\": \"http://schema.org/extensions\",\n    \"themeColor\": \"0076D7\",\n    \"summary\": \"Pipeline status alert message​​​​\",\n    \"sections\": [\n        {\n            \"activityTitle\": \"Pipeline alert​​​​\",\n            \"facts\": [\n                {\n                    \"name\": \"Pipeline RunId:\",\n                    \"value\": \"@{pipeline().parameters.pipelineRunId}\"\n                },\n                {\n                    \"name\": \"Activity name:\",\n                    \"value\": \"@{pipeline().parameters.activityName}\"\n                },\n                {\n                    \"name\": \"Activity status:\",\n                    \"value\": \"@{pipeline().parameters.activityStatus}\"\n                },\n                {\n                    \"name\": \"Execution duration (s):\",\n                    \"value\": \"@{pipeline().parameters.activityDuration}\"\n                },\n                {\n                    \"name\": \"Message\",\n                    \"value\": \"@{pipeline().parameters.activityMessage}\"\n                },\n                {\n                    \"name\": \"Notification time (UTC):\",\n                    \"value\": \"@{utcNow()}\"\n                },\n                {\n                    \"name\": \"Data Factory name:\",\n                    \"value\": \"@{pipeline().DataFactory}\"\n                }\n            ],\n            \"markdown\": true\n        }\n    ],\n    \"potentialAction\": [\n        {\n            \"@type\": \"OpenUri\",\n            \"name\": \"View pipeline run\",\n            \"targets\": [\n                {\n                    \"os\": \"default\",\n                    \"uri\": \"@{concat('https://adf.azure.com/monitoring/pipelineruns/',pipeline().parameters.pipelineRunId,'?factory=/subscriptions/',pipeline().parameters.dataFactorySubscription,'/resourceGroups/',pipeline().parameters.dataFactoryResourceGroup,'/providers/Microsoft.DataFactory/factories/',pipeline().DataFactory)}\"\n                }\n            ]\n        }\n    ]\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Call Teams Webhook",
				"description": "Invokes teams channel's webbook.",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Facts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().parameters.teamsWebhookUrl",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "@json(variables('messageCardString'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"dataFactorySubscription": {
				"type": "string",
				"defaultValue": "<Update a911b09a-2ebc-429a-80b5-00a603ff4603value>"
			},
			"dataFactoryResourceGroup": {
				"type": "string",
				"defaultValue": "<Update varg-p10-poc-dwh-01lue>"
			},
			"pipelineRunId": {
				"type": "string",
				"defaultValue": "Overwrite the value from the calling activity "
			},
			"teamsWebhookUrl": {
				"type": "string",
				"defaultValue": "https://microsoft.webhook.office.com/webhookb2/0213c5ea-53d6-4313-82eb-15b8800e85e3@72f988bf-86f1-41af-91ab-2d7cd011db47/IncomingWebhook/a929480805cf4c16a11a6d968e02ca1c/19edba7d-1a51-458e-ac04-23e52e66f695"
			},
			"activityName": {
				"type": "string",
				"defaultValue": "Overwrite the value from the calling activity "
			},
			"activityMessage": {
				"type": "string",
				"defaultValue": "Overwrite the value from the calling activity "
			},
			"activityDuration": {
				"type": "string",
				"defaultValue": "Overwrite the value from the calling activity "
			},
			"activityStatus": {
				"type": "string",
				"defaultValue": "Failed"
			}
		},
		"variables": {
			"messageCardString": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Utility"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-30T19:30:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}